<div class="window-header">
		<h1 class="title"><span>welcome</span> - ESP.JS IDE</h1>
		<div class="win-button-group on-right">
			<button class="button button-min">_</button>
			<button class="button button-max"><i></i></button>
			<button class="button button-close">X</button>
		</div>
		<ul class="menu allowopen">
			<li><span>file</span><ul><li>New</li><li>Open</li><hr/><li>Quit</li></ul></li>
			<li><span>edit</span></li>
			<li><span>project</span></li>
			<li><span>build</span></li>
			<li><span>window</span></li>
			<li><span>Board</span></li>
			<li><span>help</span></li>
		</ul>
	</div>