#console {
  flex-grow: 1;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  height: 120px;
}
#console h1 {
  font: 20px helv3thin;
  color: #FFF;
  margin: 0px;
  background: #33b5e5;
  border-bottom: 2px solid white;
  padding: 2px 5px;
  flex-grow: 0;
  flex-shrink: 0;
}
#console .content {
  font: 14px helv4light;
  color: #FFF;
  flex-grow: 2;
  overflow-y: scroll;
}
#console .content p {
  margin: 0;
  padding: 0;
}
#console .input {
  flex-shrink: 0;
}
#console input {
  width: 100%;
  border: 0;
  background: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  outline: 0;
  font: 16px helv4light;
  color: #FFF;
  padding: 5px 5px;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 4px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background-color: rgba(255, 255, 255, 0.01);
  /*transparent;*/
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  width: 8px;
  height: 8px;
  margin-right: 1px;
  -webkit-border-radius: 4px;
}
